# **Phishcord - AI-Powered Phishing Email Detector** <font>

## References:

* https://www.freecodecamp.org/news/data-cleaning-and-preprocessing-with-pandasbdvhj/#heading-what-is-data-cleaning
* https://www.geeksforgeeks.org/python-read-csv-using-pandas-read_csv/
* https://www.kdnuggets.com/data-cleaning-with-pandas

## 1. Setup


---

In [3]:
import pandas as pd

# Reads dataset
df = pd.read_csv('/Users/aymensaid/Downloads/dataset/phishing_email.csv')

df

                                           text_combined  label
0      hpl nom may 25 2001 see attached file hplno 52...      0
1      nom actual vols 24 th forwarded sabrae zajac h...      0
2      enron actuals march 30 april 1 201 estimated a...      0
3      hpl nom may 30 2001 see attached file hplno 53...      0
4      hpl nom june 1 2001 see attached file hplno 60...      0
...                                                  ...    ...
82481  info advantageapartmentscom infoadvantageapart...      1
82482  monkeyorg helpdeskmonkeyorg monkeyorg hi josep...      1
82483  help center infohelpcentercoza_infohelpcenterc...      1
82484  metamask infosofamekarcom verify metamask wall...      1
82485  fastway infofastwaycoza_infofastwaycoza_infofa...      1

[82486 rows x 2 columns]

## 2. EDA
---

In [4]:
# Displays basic information of dataset
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82486 entries, 0 to 82485
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   text_combined  82486 non-null  object
 1   label          82486 non-null  int64
dtypes: int64(1), object(1)
memory usage: 1.3+ MB

              label
count  82486.000000
mean       0.519979
std        0.499604
min        0.000000
25%        0.000000
50%        1.000000
75%        1.000000
max        1.000000

## 3. Data Cleaning

### 3.1. Checks for duplicates


---

In [9]:
print("Number of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 408

### 3.2 Checks for missing values


---

In [8]:
print("Number of missing values:", df.isna().any().sum())

Number of missing values: 0

### 3.3. Class distribution
---
As this dataset is a binary classification, it will be sorted as phishing (1) and legitimate (0).
* 42891 phishing emails
* 39595 legitimate emails

In [7]:
print(df['label'].value_counts())

label
1    42891
0    39595
Name: count, dtype: int64